---
# FrontMatter to proper processing by SASS
---

$background-color: white;
$layout-breakpoint-small: 800px;
$fonts-header: Georgia, serif;
$fonts-default: Verdana,sans-serif;
$color: #333;
$margin: 16px;
$border: 2px $color solid;
$default-font-size: 15px;
// 36 30 24 20 18 16
$padding: 4px;

.material-icons {
    font-size: inherit;
}

html {
    overflow-x:hidden;
}

footer {
    font-family: $fonts-header;
    border-top: 2px $color solid;
    padding-top: 4*$padding;
    margin-top: $margin;
}

body {
    font-family: $fonts-default;
    font-size: $default-font-size;
    line-height: 1.5;
    margin: auto;
    color: $color;
    max-width: 1200px;
}

#content {
    margin: $margin;
}

abbr, span[title] {
    text-decoration: underline dotted;
}

.card {
    display: flex;
    flex-direction: row;
    margin: $margin*2 0;
    .leftside {
	font-family: $fonts-header;
	flex: 1 0.5 300px;
	padding-right: $margin;
	line-height: 1.3;
	.level {
	    font-size: 18px;
	}
	.name {
	    font-size: 24px;
	    margin: $margin 0 0.5*$margin 0;
	}
	.speciality {
	    margin: 0.5*$margin 0 1.5*$margin 0;
	}
	.link {
	    font-style: italic;
	    a {
		color: $color;
	    }
	}
    }
    .rightside {
	flex: 1 1 100%;
	padding-left: $margin;
	.quote {
	    font-style: italic;
	    text-align: center;
	    margin-bottom: 0.5*$margin;
	}
	.text {
	    text-align: justify;
	}
    }
}

.more {
    display: flex;
    flex-direction: column;
    .more-card {
	margin: 2*$margin;
	.name {
	    border-bottom: $border;
	}
	.link {}
    }
}

@media screen and (max-width: $layout-breakpoint-small) {
    .card {
	flex-direction: column;
	.leftside, .rightside {
	    flex-basis: 100%;
	    padding: 0;
	}
	.leftside {
	    margin-bottom: $margin;
	}
    }
}

#header.card{
    margin: $margin*2 $margin;
    justify-content: space-between;
    .leftside, .rightside {
	flex-basis: 47%;
    }
    .leftside {
	margin-top: $margin*4;
	.name, .roles {
	    font-stretch: condensed;
	    text-align: center;
	}
	.name {
	    font-size: 36px;
	}
	.roles {
	    font-size: 24px;
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	    span {
		margin: 0 2*$padding;
	    }
	}
    }
    .rightside {
	text-align: right;
    }
}

#header .link-block {
    margin-bottom: $margin;

    header {
	text-decoration: underline;
	margin-bottom: 0.5*$margin;
    }
}

#slogan.quote {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: Georgia, serif;
    margin: $margin 0;
}

@media screen and (max-width: $layout-breakpoint-small) {
    #header.card {
	.leftside {
	    margin-top: 0;
	}
    }
}

.section {
    .header {
	font-size: 30px;
	font-stretch: condensed;
	text-align: center;
	border-bottom: $border;
	margin: $margin*2 0;
	font-family: $fonts-header;
	// Keeping sticky
	position: sticky;
	top: 0;
	background-color: $background-color;
    }
    .link-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.link {
	    width: 300px;
	    text-align: center;
	}
    }
    .quote {
	text-align: center;
	font-style: italic;
	margin: $margin auto;
    }
}

#about.section {
    .card {
	.leftside {
	    text-align: center;
	    .photo {
		img {
		    width: 200px;
		    height: 200px;
		    border-radius: 50%;
		    border: $border;
		}
	    }
	}
    }
}

#languages.section {
    .card {
	.leftside {
	}
    }
}


.cert-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .certificate {
	flex-basis: 320px;
	margin: 2*$margin;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 250px;
	.title {
	    min-height: 80px;
	    font-family: $fonts-header;
	    font-size: 20px;
	    text-align: center;
	    margin-bottom: auto;
	    border-bottom: 1px $color solid;
	    display: flex;
	    .title-caption {
		margin: auto;
	    }
	}
	.description {
	    text-align: center;
	    font-style: italic;
	}
	.info {
	    font-family: $fonts-header;
	    margin-top: auto;
	    display: flex;
	    flex-direction: column;
	    .place, .date, .value {
		display: flex;
		flex-direction: row;
		.icon {
		    flex-basis: 20px;
		}
		.text {
		    flex-basis: 100%;
		}
	    }
	    .place {
		font-style: italic;
	    }
	}
    }
}

#traits.traits {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .trait {
	flex-basis: 150px;
	margin: $margin;
	text-align: center;
    }
}
