{% assign certificates = site.data.certificates %}

<div class="section" id="certificates">
  <div class="header">
    {{ certificates.header }}
  </div>

  <div class="quote">{{ certificates.description }}</div>
  <div class="cert-list">
    {% for cert in certificates.list %}
    <div class="certificate">
      <div class="title">
	<div class="title-caption">
	  <span class="material-icons">verified</span>
	  {{ cert.title }}
	</div>
      </div>
      <div class="description">{{ cert.description }}</div>
      <div class="info">
	{% if cert.date %}
	<div class="date">
	  <div class="icon">
	    <span class="material-icons">calendar_month</span>
	  </div>
	  <div class="text">
	    {{ cert.date }}
	  </div>
	</div>
	{% endif %}
	{% if cert.place %}
	<div class="place">
	  <div class="icon">
            <span class="material-icons">place</span>
	  </div>
	  <div class="text">
            {{ cert.place }}
	  </div>
	</div>
	{% endif %}
	{% if cert.value %}
	<div class="value">
	  <div class="icon">
	    <span class="material-icons">schedule</span>
	  </div>
	  <div class="text">
	    {{ cert.value }}
	  </div>
	</div>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
