{% assign educations = site.data.educations %}
{% assign hrs_icon = '<span class="material-icons" title="Объем в часах">schedule</span>'%}


<div class="section" id="educations">
  <div class="header">{{ educations.header }}</div>

  <div class="quote">{{ educations.description }}</div>

  {% for ed in educations.cards %}
  <div class="card">
    <div class="leftside">
      {% assign level = ed.level %}
      <div class="level">
	{% if level == "Ученая степень" %}
	<span class="material-icons">science</span>
	{% endif %}
	{% if level == "Высшее образование" %}
	<span class="material-icons">school</span>
	{% endif %}
	{% if level == "Профессиональная переподготовка" %}
	<span class="material-icons">lightbulb</span>
	{% endif %}
	{{ level }}
      </div>
      <div class="name">
	{{ ed.name }}
      </div>
      <div class="speciality">{{ ed.speciality }}</div>
      {% if ed.perfect %}
      <div class="perfect">
	<span class="material-icons">star</span> {{ ed.perfect }}
      </div>
      {% endif %}
      <div class="university">
	<span class="material-icons">place</span>
	{{ ed.university }}
      </div>
      <div class="years" title="Период обучения">
	<span class="material-icons">calendar_month</span>
	{{ ed.years }}
      </div>
      {% if ed.hours %}
      <div class="hours" title="Объем в часах">
	<span class="material-icons">schedule</span>
	{{ ed.hours }}
      </div>
      {% endif %}
      {% if ed.link %}
      <div class="link"><a href="{{ ed.link.url }}">{{ ed.link.name }}</a></div>
      {% endif %}
    </div>
    <div class="rightside">
      <div class="quote">{{ ed.quote }}</div>
      <div class="text">{{ ed.description }}</div>
    </div>
  </div>
  {% endfor %}
</div>
