{% assign projects = site.data.projects.education %}
{% assign hrs_icon = '<span class="material-icons" title="Объем в часах">schedule</span>'%}


<div class="section" id="projects-education">
  {% include header_line.html header=projects.header %}

  <div class="quote">{{ projects.description }}</div>

  {% if projects.link_block %}
  {% include link-block.html block=projects.link_block %}
  {% endif %}

  {% for pr in projects.cards %}
  <div class="card">
    <div class="leftside">
      <div class="name">
	{{ pr.name }}
      </div>
      {% if pr.level %}
      <div class="level">
	<span class="material-icons">school</span>
	{{ pr.level }}
      </div>
      {% endif %}
      <div class="years">
	<span class="material-icons">calendar_month</span>
	<span title="Сроки">{%- if pr.since -%}{{ pr.since }}—{%- endif -%}{%- if pr.till -%}{{ pr.till }}{%- else-%}<abbr title="Настоящее время">н.&nbsp;в.</abbr>{%- endif -%}</span>
      </div>
      {% if pr.links %}
        {% for ln in pr.links %}
          <div class="link"><a href="{{ ln.url }}">{{ ln.name }}</a></div>
	{% endfor %}
      {% endif %}
    </div>
    <div class="rightside">
      <div class="quote">{{ pr.quote }}</div>
      <div class="text">{{ pr.description }}</div>
    </div>
  </div>
  {% endfor %}
</div>
