<div id="header" class="card">
  <div class="leftside">
    {% assign header = site.data.header %}
    <div class="name">{{ header.name }}</div>
    <div class="roles">
      {% for role in header.roles %}
      <span>{{ role }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="rightside">
    <div class="place">
      <span class="material-icons">location_city</span>
      <abbr title="Этот город самый лучший город на Земле">Москва</abbr>
    </div>
    <div class="links">
      {% for link in header.links %}
      <div class="link">
	{% if link.icon %}
	<span class="material-icons">{{ link.icon }}</span>
	{% endif %}
	<span class="prefix">{{ link.prefix }}:</span>
	<span class="link">
	  <a href="{{ link.link }}">{{ link.text }}</a>
	</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id="slogan" class="quote">
  Mi serĉas Pafistinon
</div>
