{% assign languages = site.data.languages %}

<div class="section" id="languages">
  <div class="header">{{ languages.header }}</div>

  <div class="quote">{{ languages.description }}</div>

  {% for lang in languages.cards %}
  <div class="card">
    <div class="leftside">
      <div class="name">{{ lang.name }}</div>
      {% if lang.level.value %}
      {% assign level = lang.level.value %}
      <div class="level">
	{% if level == "A1" %}
	<span class="material-icons">star_half</span>
	<span class="material-icons">star_border</span>
	<span class="material-icons">star_border</span>
	{% endif %}
	{% if level == "A2" or level == "A1/A2" %}
	<span class="material-icons">star</span>
	<span class="material-icons">star_border</span>
	<span class="material-icons">star_border</span>
	{% endif %}
	{% if level == "B1" %}
	<span class="material-icons">star</span>
	<span class="material-icons">star_half</span>
	<span class="material-icons">star_border</span>
	{% endif %}
	{% if level == "B2" or level == "B1/B2" %}
	<span class="material-icons">star</span>
	<span class="material-icons">star</span>
	<span class="material-icons">star_border</span>
	{% endif %}
	{% if level == "C1" %}
	<span class="material-icons">star</span>
	<span class="material-icons">star</span>
	<span class="material-icons">star_half</span>
	{% endif %}
	{% if level == "C2" or level == "C1/C2" %}
	<span class="material-icons">star</span>
	<span class="material-icons">star</span>
	<span class="material-icons">star</span>
	{% endif %}
	{% if level == "Носитель" %}
	<span class="material-icons">person</span>
	{% endif %}
	{% if lang.level.source %}
	<abbr title="{{ lang.level.source }}">
        {% endif %}
        {{ lang.level.value }}
	{% if lang.level.source %}
	</abbr>
	{% endif %}
      </div>
      {% endif %}
      {% if lang.diploma %}
      <div class="diploma">{{ lang.diploma.name }}</div>
      <div class="year">{{ lang.diploma.year }}</div>
      {% endif %}
      {% if lang.link %}
      <div class="link"><a href="{{ lang.link.url }}">{{ lang.link.name }}</a></div>
      {% endif %}
      {% if lang.duolingo %}
      {% if lang.duolingo.crowns %}
        {% assign crowns = lang.duolingo.crowns %}
        <div class="duolingo crowns">
          <img src="crown.svg" style="height: 16px;">
	  Duolingo:
	  {% if crowns.date %}
	  <abbr title="{{ crowns.date }}">
          {% endif %}
	    {{ crowns.gold }}
	    {% if crowns.total %}
              / {{ lang.duolingo.crowns.total }}
            {% endif %}
	    {% if crowns.brilliant %}
	      + {{ lang.duolingo.crowns.brilliant }}
	    {% endif %}
	  {% if crowns.date %}
	  </abbr>
	  {% endif %}
        </div>
        {% endif %}
      {% endif %}
      {% if lang.touch_typing %}
      <div>
	Слепой метод печати<br>
        {% for layout in lang.touch_typing %}
	<span class="material-icons">keyboard</span> <abbr title="Вариант (раскладка)">{{ layout.name }}</abbr>
	{% if layout.kpm %}
	{{ layout.kpm }}&nbsp;<abbr title="Знаков (символов) в минуту">зн/мин</abbr> 
	{% endif %}
	{% if layout.wpm %}
	{{ layout.wpm }}&nbsp;<abbr title="Слов в минуту">сл/мин</abbr> 
	{% endif %}
	<br>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="rightside">
      <div class="quote">{{ lang.quote }}</div>
      <div class="text">{{ lang.description }}</div>
    </div>
  </div>
  {% endfor %}
</div>
