{% assign microchip = site.data.microchip %}


<div class="section" id="microchip">
  <div class="header">{{ microchip.header }}</div>

  <div class="quote">{{ microchip.description }}</div>

  {% for mc in microchip.cards %}
  <div class="card">

    <div class="leftside">
      <div class="name">
	{{ mc.name }}
      </div>
      <div class="platform"><span title="Платформа">{{ mc.platform }}</span></div>
      <div class="language">Язык: {{ mc.language }}</div>
      <div class="years">
	<span class="material-icons">calendar_month</span>
	<span title="Периоды разработки">{{ mc.years }}</span>
      </div>
      <div class="sloc">
	<abbr title="Source Lines of Code / Количество строк кода">SLOC</abbr>: {{ mc.SLOC }}
      </div>
      {% if mc.link %}
      <div class="link"><a href="{{ mc.link.url }}">{{ mc.link.name }}</a></div>
      {% endif %}
    </div>

    <div class="rightside">
      <div class="quote">{{ mc.quote }}</div>
      <div class="text">{{ mc.description }}</div>
    </div>

  </div>
  {% endfor %}

</div>
