<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.data.header.name }} | {{ site.data.header.roles | join: ", " }}</title>
  <meta name="description" content="{{ site.data.header.desc }}">
  <meta name="author" content="{{ site.data.header.name }}">

  <meta property="og:title" content="{{ site.data.header.name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://konstantin-morenko.ru">
  <meta property="og:description" content="{{ site.data.header.desc }}">
  <meta property="og:image" content="{{ site.data.about.photo_file }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

</head>

<body>
  <!-- your content here... -->
  <script src="js/scripts.js"></script>
  <div id="content">
    {{ content }}
  </div>
</body>
</html>

